.contenedor{
    min-height: 80vh;
}

.item_precio{
    font-size: 2rem;
    margin-top: 1.8rem;
    background-color: #0ca8c0;
    color: white;
    border-radius: 12px;
    padding: 8px;
    text-align: center;
}

.text-justify{
    text-align: justify;
}